.button {
  border-radius: 18px;
  border: none;
  column-gap: 10px;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  padding: 25px 50px;
  transition: background-color 0.3s ease;

}
/* PRIMARY BUTTON*/
.button.primary {
  background-color: #0c70f2;
  color: white;
}

.button.primary:hover {
  background-color: #0056b3;
}

/* SECUDARY BUTTON*/
.button.secudary {
  background-color: #1D1D1D;
  color: white;
}

.button.secudary:hover {
  background-color: #4D5053;
}

/* OUTLINE BUTTON*/
.button.outline {
  background-color: white;
  border: 1px solid #0c70f2;
  color: #0c70f2;
}

.button.outline:hover {
  background-color: #0c70f2;
  color: white;
}

/* DISABLED BUTTON*/
.button:disabled, .button:disabled>:hover {
  background-color:#ccc;
  color: #666;
  pointer-events: none;
}

